In [1]:
# IMPORTED LIBRARIES
import pandas as pd
from collections import Counter

In [2]:
# LOAD DATASET INTO DATAFRAME
data = pd.read_csv("Facebook_metrics/dataset_Facebook.csv",delimiter=";")
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

# Question 1

In [3]:
# DISTINCT TYPES OF POST
data["Type"].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [4]:
# MOST COMMON TYPE OF POST
data["Type"].mode()

0    Photo
dtype: object

In [5]:
# MOST COMMON TYPE OF POST WITH FREQUENCY
Counter(data["Type"]).most_common(4)

[('Photo', 426), ('Status', 45), ('Link', 22), ('Video', 7)]

# Question 2

In [6]:
# AVERAGE (MEDIAN) PAGE TOTAL LIKES PER TYPE
data.groupby(['Type'], as_index=False).median().groupby('Type')['share'].median()

Type
Link      10.5
Photo     19.0
Status    28.0
Video     44.0
Name: share, dtype: float64

# Question 3

In [7]:
# AVERAGE (MEDIAN) NUMBER OF SHARES PER PAID
data.groupby(['Paid'], as_index=False).median().groupby('Paid')['share'].median()

Paid
0.0    18.5
1.0    19.0
Name: share, dtype: float64

# Consumption per user

In [8]:
# EXTRACT CONSUMPTION PER USER COLUMN
d = (data["Lifetime Post Consumptions"])/(data["Lifetime Post Consumers"])
data.insert(12, "Consumption per User", d)
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Consumption per User,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,1.458716,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,1.229978,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,1.362832,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,1.416456,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,1.414634,6228,3200,396,19,325.0,49.0,393

#

In [9]:
# AVERAGE (MEDIAN) CONSUMPTION PER USER FOR EACH TYPE
data.groupby(['Type'], as_index=False).median().groupby('Type')['Consumption per User'].median()

Type
Link      1.306871
Photo     1.455027
Status    1.310275
Video     1.456332
Name: Consumption per User, dtype: float64

In [10]:
# AVERAGE (MEDIAN) CONSUMPTION PER USER FOR EACH MONTH
data.groupby(['Post Month'], as_index=False).median().groupby('Post Month')['Consumption per User'].median()

Post Month
1     1.326720
2     1.333669
3     1.630009
4     1.467742
5     1.531250
6     1.438289
7     1.482368
8     1.471173
9     1.435346
10    1.375214
11    1.476382
12    1.340187
Name: Consumption per User, dtype: float64

In [11]:
# AVERAGE (MEDIAN) CONSUMPTION PER USER FOR EACH TYPE
data.groupby(['Type'], as_index=False).median().groupby('Type')['Lifetime Post Consumers'].median()

Type
Link       205.0
Photo      528.5
Status    1599.0
Video     1643.0
Name: Lifetime Post Consumers, dtype: float64

In [12]:
# AVERAGE (MEDIAN) CONSUMPTION PER USER FOR EACH MONTH
data.groupby(['Post Month'], as_index=False).median().groupby('Post Month')['Lifetime Post Consumers'].median()

Post Month
1      937.0
2     1203.5
3      519.5
4      621.5
5      561.0
6      715.0
7      617.5
8      432.5
9      432.5
10     317.0
11     298.0
12     274.0
Name: Lifetime Post Consumers, dtype: float64

In [13]:
# SELECT PHOTO TYPE POSTS
photo_type = data[data['Type'] == "Photo"]
print(photo_type)

     Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441  Photo         2          12             4          3
2              139441  Photo         3          12             3          3
3              139441  Photo         2          12             2         10
4              139441  Photo         2          12             2          3
6              139441  Photo         3          12             1          3
7              139441  Photo         3          12             7          9
9              139441  Photo         3          12             6         10
11             139441  Photo         2          12             5         10
12             139441  Photo         2          12             5         10
13             139441  Photo         2          12             5          3
14             138414  Photo         2          12             4          5
16             138414  Photo         3          12             3          3
17             138414  Photo         1          12             2         12
19             138414  Photo         3          12             1         11
20             138414  Photo         2          12             1          3
21             138414  Photo         1          12             7         10
23             138414  Photo         3          12             7          3
27             138458  Photo         3          12             5          3
28             138895  Photo         2          12             5          3
30             138895  Photo         2          12             4          2
31             138895  Photo         2          12             3         10
32             138895  Photo         3          12             3          3
33             138895  Photo         3          12             2          9
34             138895  Photo         1          12             2          3
35             138895  Photo         2          12             1         11
36             138895  Photo         3          12             1          3
37             138895  Photo         1          12             7         10
39             138895  Photo         1          12             7          3
42             138353  Photo         1          12             5         10
44             138353  Photo         1          12             4         11
..                ...    ...       ...         ...           ...        ...
465             91972  Photo         3           2             6          3
466             91865  Photo         2           2             5         13
467             91758  Photo         2           2             5          3
468             91651  Photo         1           2             4         12
469             91544  Photo         3           2             4          3
471             91330  Photo         3           2             3          3
472             91223  Photo         1           2             2         13
473             91116  Photo         3           2             2          4
474             91009  Photo         1           2             1         12
475             86909  Photo         3           1             6         16
476             86909  Photo         1           1             6         10
478             86909  Photo         3           1             5         13
479             86909  Photo         3           1             5          4
480             86909  Photo         2           1             4         11
482             86491  Photo         3           1             3         10
483             86491  Photo         2           1             3          3
484             86491  Photo         3           1             2          7
486             85979  Photo         3           1             1         12
487             85979  Photo         3           1             1          2
488             85979  Photo         3           1             7         10
489             85979  Photo         3           1             7          2
490             85979  Photo         3           1             6         11
491             85979  Photo         3           1             6          3
493             85093  Photo         3           1             1          2
494             85093  Photo         3           1             7         10
495             85093  Photo         3           1             7          2
496             81370  Photo         2           1             5          8
497             81370  Photo         1           1             5          2
498             81370  Photo         3           1             4         11
499             81370  Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
6     1.0                      11692                            19479
7     1.0                      13720                            24137
9     0.0                       4694                             8668
11    0.0                       3112                             5590
12    0.0                       2847                             5133
13    0.0                       2549                             4896
14    1.0                      22784                            39941
16    0.0                       1722                             2981
17    1.0                      53264                           111785
19    0.0                       1591                             2825
20    0.0                       2848                             5066
21    0.0                       1384                             2467
23    0.0                       2723                             4888
27    0.0                       2478                             4306
28    0.0                       9560                            18264
30    0.0                       4940                             9390
31    0.0                       1683                             2929
32    0.0                       5280                             9578
33    0.0                       3002                             5318
34    0.0                       3766                             7149
35    0.0                       4512                             7808
36    0.0                       2690                             4628
37    1.0                      19800                            28663
39    0.0                       3290                             6085
42    0.0                       7268                            13989
44    0.0                       4284                             8387
..    ...                        ...                              ...
465   0.0                       6484                            10832
466   1.0                       4840                             7466
467   1.0                      15880                            51571
468   0.0                      15288                            31467
469   0.0                       9528                            16779
471   0.0                       7732                            13264
472   0.0                       5240                             8893
473   1.0                       7132                            12060
474   0.0                      21928                            39641
475   1.0                       5754                             9238
476   1.0                      37088                            10966
478   0.0                       5536                             8745
479   0.0                       6056                            10325
480   0.0                      11484                            20696
482   0.0                      66784                             9456
483   0.0                       5526                             8779
484   0.0                       5040                             8367
486   0.0                       5034                             8030
487   0.0                       4908                             7491
488   0.0                       9700                            17442
489   0.0                       4800                             7754
490   0.0                       5280                             8703
491   1.0                       6184                            10228
493   0.0                       8412                            13960
494   0.0                       5400                             9218
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
2                       177                      113
3                      2211                      790
4                       671                      410
6                       481                      265
7                       537                      232
9                       280                      183
11                      208                      127
12                      193                      115
13                      249                      134
14                      887                      337
16                      163                      123
17                     1706                     1103
19                      121                       88
20                      200                      142
21                       15                       15
23                      176                      118
27                      212                      124
28                      973                      559
30                      385                      306
31                      192                      171
32                      368                      237
33                      268                      185
34                      298                      260
35                      423                      284
36                      252                      168
37                      479                      424
39                      306                      284
42                     2087                     2079
44                      355                      316
..                      ...                      ...
465                    1166                     1115
466                     949                      923
467                    1188                     1071
468                    1573                     1401
469                    1245                     1175
471                    1066                     1002
472                     857                      837
473                    1004                      944
474                    1512                     1479
475                    1179                     1143
476                    2728                     2288
478                    1141                     1099
479                    1117                     1078
480                    1762                     1635
482                    2969                     2833
483                    1096                     1058
484                    1062                     1023
486                    1020                      993
487                     957                      937
488                    1407                     1271
489                     975                      938
490                     951                      911
491                     956                      901
493                    1179                     1111
494                     810                      756
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  Consumption per User  \
0                           159              1.458716
2                           154              1.362832
3                          1119              1.416456
4                           580              1.414634
6                           364              1.373585
7                           305              1.314655
9                           250              1.366120
11                          145              1.141732
12                          133              1.156522
13                          168              1.253731
14                          417              1.237389
16                          148              1.203252
17                         1655              1.500453
19                          111              1.261364
20                          184              1.295775
21                           20              1.333333
23                          143              1.211864
27                          149              1.201613
28                          885              1.583184
30                          501              1.637255
31                          221              1.292398
32                          345              1.455696
33                          247              1.335135
34                          431              1.657692
35                          431              1.517606
36                          226              1.345238
37                          805              1.898585
39                          402              1.415493
42                        12074              5.807600
44                          513              1.623418
..                          ...                   ...
465                        1441              1.292377
466                        1116              1.209101
467                        1410              1.316527
468                        2110              1.506067
469                        1725              1.468085
471                        1336              1.333333
472                        1020              1.218638
473                        1226              1.298729
474                        1837              1.242055
475                        1452              1.270341
476                        3183              1.391171
478                        1461              1.329390
479                        1427              1.323748
480                        2741              1.676453
482                        3645              1.286622
483                        1399              1.322306
484                        1348              1.317693
486                        1243              1.251762
487                        1153              1.230523
488                        2007              1.579072
489                        1278              1.362473
490                        1237              1.357849
491                        1140              1.265261
493                        1632              1.468947
494                        1003              1.326720
495                         985              1.391243
496                         687              1.352362
497                         795              1.389860
498                         832              1.449477
499                         743              1.417939

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
2                                                 2812
3                                                61027
4                                                 6228
6                                                15432
7                                                19728
9                                                 4309
11                                                3887
12                                                3779
13                                                3631
14                                               34415
16                                                1868
17                                               92512
19                                                2116
20                                                3561
21                                                2196
23                                                2964
27                                                2612
28                                                9217
30                                                5860
31                                                1585
32                                                4480
33                                                3039
34                                                5782
35                                                5183
36                                                3052
37                                                5187
39                                                4986
42                                               13544
44                                                7283
..                                                 ...
465                                               7316
466                                               5362
467                                              47976
468                                              28247
469                                              11885
471                                               8753
472                                               7420
473                                               8294
474                                               6338
475                                               6101
476                                              66311
478                                               5225
479                                               6823
480                                               8774
482                                              17809
483                                               5732
484                                               5485
486                                               5340
487                                               4642
488                                               8872
489                                               4932
490                                               5757
491                                               6085
493                                               8632
494                                               5654
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
2                                                1503
3                                               32048
4                                                3200
6                                                9328
7                                               11056
9                                                2324
11                                               2174
12                                               2072
13                                               1917
14                                              19312
16                                               1050
17                                              39776
19                                               1161
20                                               1963

In [14]:
# AVERAGE (MEDIAN) CONSUMPTION PER USER FOR EACH MONTH
data.groupby(['Post Month'], as_index=False).skew().groupby('Post Month')['Consumption per User'].skew()

Post Month
0.0    0.562788
Name: Consumption per User, dtype: float64